docs_old
art
docs/evocomplex14/*.pdf
stats.txt
.idea
.pydevproject
.project
__pycache__
TestHGS*.png
problems/*/*/results/*
!problems/*/*/results/.gitignore
*.7z
*.tar.*
*.tgz
*.txz
*.tgx
*.pickle
*.json
jsoned/*
!jsoned/.gitignore
pickled/*
!pickled/.gitignore
*.runlog*
*.log
.DS_Store
docs/evocomplex14/*.ind
docs/evocomplex14/*.sty
docs/evocomplex14/*.bst
docs/evocomplex14/*.dvi
docs/evocomplex14/*.dem
docs/evocomplex14/*.cls
*.sublime-project
*.sublime-workspace
*.bib.bak
plots_violin/*
!plots_violin/.gitignore
plots/pareto_fronts/
plots/plots_violin/
plots/plots_bnw/
plots/
run_all.bat
run_queue.bat
*.rar
jmetal_src/
